.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 0 auto;
  width: 210px;

  h3{
    text-align: center;
  }

  &__formContainer {
    display: flex;
    flex-direction: column;
  }

  &__email,
  &__password {
    margin: 0 0 10px 0;
    border: 1px solid #0D1B2A;
    padding: 5px;
    border-radius: 5px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }

  &__submit{
    flex: 1;
    border: 1px solid #0D1B2A;
    padding: 5px;
  }
}