.accessButtons {
  display: flex;
  justify-content: center;

  &__signIn, &__signUp {
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 0 10px;
  }
}