.urlInputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;

  &__input {
    flex: 1;
    border: 1px solid #e0e1dd;
    border-radius: 5px;
    height: 40px;
    margin: 0 10px 0 0;
    padding: 0 10px;

    &--error {
      border: 1px solid #B22222;
    }

  }

  &__submit {
    box-sizing: content-box;
    border: 1px solid #e0e1dd;
    border-radius: 5px;
    height: 40px;
  }
}

@media (min-width: 580px) {
  .urlInputForm {
    width: 50%;
  }
}