.urlShortenerOutput {
  text-align: center;

  &__link {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #005073;
    width: 100%;
    text-align: center;
  }

  &__copiedMessage {
    display: block;
  }

  &--error {
    color: #B22222;
  }
}